#jinja2: trim_blocks:False

[Unit]
Description=etcd
Documentation=https://github.com/etcd-io/etcd/
Wants=network-online.target
After=network-online.target

[Service]
{%- for setting in etcd_service_options %}
{{ setting }}
{%- endfor %}
ExecStart={{ etcd_bin_dir }}/etcd \
{%- for setting in etcd_settings %}
  --{{ setting }}="{{ etcd_settings[setting] }}" {% if not loop.last %}\{% endif %}
{%- endfor %}

[Install]
WantedBy=multi-user.target
